body {
    background-color: #CCCCCC;
}

#banner1 {
    width: 60%; 
    text-align: center;
}

#banner2 {
    width: 60%; 
    text-align: center;
}

#banner3 {
    width: 60%; 
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

#apple {
   color: blue;
   text-align: right;
}
